.postOuter {
  background-color: #FAFAFA;
  width: 100%;
  margin: 0 auto;
}

.postImage {
  display: inline-block;
  height: 200px;

}

.postDetail {
  position: relative;

}

.title {

  font-weight: bold;
  font-size: 2em
}

.description {

}

.author {
  float: right;

}

.footer {
  position: absolute;
  bottom: 0;

}

.positive {
  color: green;
}

.negative {
  color: red;
}